.admin-games-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.admin-games-main .admin-games-title {
    text-align: center;
    font-size: 2rem;
}

.new-admin-game-container {
    width: 90vw;
    display: flex;
    justify-content: flex-end;
}

.new-admin-game {
    text-decoration: none;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 1rem;
    font-weight: bold;
    text-align: center;
}


