.register-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.register-form input {
    text-align: center;
    width: calc(25vw + 25vh + 5rem);
    width: 90vw;
    max-width: 30rem;
    padding: 0.5rem;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.register-form input:focus {
    outline: none;
    border: 2px solid var(--secondary-color);
    box-shadow: 0 0 2px var(--secondary-color);
}

.register-form .error-text {
    color: var(--secondary-color);
    margin: 0;
}

.already-registered {
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
}

.already-registered a {
    color: var(--secondary-color);
    font-weight: bold;
    text-decoration: none;
}

.already-registered a:hover {
    text-decoration: underline;
}

.register-form .register-button {
    cursor: pointer;
}