.users-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.users-main .users-title {
    text-align: center;
    font-size: 2rem;
}

.new-user-container {
    width: 90vw;
    display: flex;
    justify-content: flex-end;
}

.users-main .new-user{
    text-decoration: none;
    background-color: var(--secondary-color);
    padding: 1rem;
    font-weight: bold;
    text-align: center;
}


