.edit-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    background: linear-gradient(180deg,var(--purple-background) 0%, var(--secondary-color) 100% ); 
    padding: 1rem;
}

.edit-user .edit-admin{
    align-self: flex-end;
    margin-right: 1.5rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.edit-user-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.edit-user-form .form-inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.edit-user-form .form-inputs label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.edit-user-form label input {
    text-align: center;
    padding: 0.5rem;
}

.edit-user-form input:focus {
    outline: none;
    border: 2px solid var(--secondary-color);
    box-shadow: 0 0 2px var(--secondary-color);
}

.edit-user-form .error-text {
    color: var(--secondary-color);
    margin: 0;
}

.edit-user-form .save-edit {
    cursor: pointer;
    width: 5rem;
    padding: 0.2rem;
}

