.users-grid-item {
    display: flex;
    flex-direction: column;
}
.users-grid-item-data {
    background-color: var(--purple-background);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
    justify-items: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.users-grid-item-data span {
    padding: 1rem;
}


.user-options {
    display: flex;
    gap: 1rem;
}
.user-options span {
    cursor: pointer;
}

