.games-admin-grid-item {
    display: flex;
    flex-direction: column;
}
.games-admin-grid-item-data {
    background-color: var(--purple-background);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
    justify-items: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    overflow: hidden;
}

.game-admin-options {
    display: flex;
    gap: 1rem;
}
.game-admin-options span {
    cursor: pointer;
}
