.genres-grid-item {
    display: flex;
    flex-direction: column;
}
.genres-grid-item-data {
    background-color: var(--purple-background);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
    justify-items: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    overflow: hidden;
}

.genre-options {
    display: flex;
    gap: 1rem;
}
.genre-options span {
    cursor: pointer;
}

