.genres-grid-item {
    display: flex;
    flex-direction: column;
}
.genres-grid-item-data {
    background-color: var(--gray-background);
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.genre-options {
    display: flex;
    gap: 1rem;
}
.genre-options span {
    cursor: pointer;
}

