.my-collection {
    flex-grow: 1;
    margin: 0 auto;
    max-width: 1500px;
}

.my-collection p {
    text-align: center;
    padding: 0 2rem;
}

.copies-grid {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 1rem;
}

.my-collection-title {
    text-align: center;
}

.page-button {
    background-color: white;
    cursor: pointer;
}
