.welcome-message {
    text-align: center;
    font-size: calc(2.2vw + 2.2vh + .6vmin);
}

.welcome-nav {
    display: flex;
    gap: 1rem;
}

.welcome-nav a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: calc(1.2vw + 1.2vh + .6vmin);
}

.welcome-nav a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}