.main-header {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    padding: 1rem 3rem;
}

.main-header .header-title {
    text-align: center;
    flex-grow: 1;
    text-decoration: none;
    color: var(--primary-color);
}

.main-header a h1 {
    font-size: calc(2.4vw + 2.4vh + .6vmin);
}

.main-header > span {
    font-size: calc(1.2vw + 1.2vh + .6vmin);
}
