header {
    color: white;
    background-color: var(--irresistible);
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    padding: 0 3rem;
}

h1 {
    text-align: center;
    flex-grow: 1;
}

header > span {
    font-size: calc(1vw + 1vh + .6vmin);
}
