.copies-grid-item {
    color: var(--russian-violet);
    background-color: var(--vivid-tangerine);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 1rem;

}

.copies-grid-item .copy-header{
    text-align: center;
}

.copies-grid-item .copy-data {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
}

.copies-grid-item .copy-status {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.copies-grid-item .copy-management{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
