@import './styles//normalize.css';

:root {
  --light-cyan: rgb(221, 255, 247);
  --blue-green: rgb(147, 225, 216);
  --vivid-tangerine: rgb(255, 166, 158);
  --irresistible:rgb(170, 68, 101);
  --russian-violet:rgb(70, 34, 85);
}


* {
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

#app {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  color: white;
  background-color: var(--russian-violet);
}
