@import './styles/normalize.css';

:root {

  --primary-color: white;
  --header-color: #6d0b32;
  --secondary-color: #CE4A7E;
  --light-secondary-color: #d47a9e;
  --white-background: #FCFAFA;
  --gray-background: #C8D3D5;
  --blue-background: #A4B8C4;
  --purple-background: rgb(231, 206, 233);
}


* {
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}
